//Fontes
$fonte: 'Nunito', sans-serif;

//Cores
$cor-1: #222222;
$cor-2: #122ab2;
$cor-3: #fff;
$cor-4: #2c70ff;
$cor-5: #7c7c7c;
$cor-6: #a4a4a4;
$cor-7: #f7f7f7;
$cor-8: #ae81ff;
$cor-9: #f9265e;
$cor-10: #66d9eb;

//Gerais
$container: 960 + px;